# Ignore binary and intermediate files
bin/
*.tlog

.vs/

# Ignore build system files
*.obj
*.exe
*.log

# Ignore dependencies (optional, if they can be installed by others)
Dependencies/lib/
vendor/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE or editor-specific files
*.vcxproj
*.vcxproj.filters
*.sln
.idea/
.vscode/
*.user
